body {
    background-color: rgba(108, 172, 233, 0.644);
}
h2 {
    color: rgba(35, 26, 119, 0.801);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3 {
    color: rgba(35, 26, 119, 0.801);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
p {
    color: rgba(35, 26, 119, 0.801);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}